/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 avr. 2020, 05:33:06
    Author     : aziz9
*/
.root 
{
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #0066ff;
}
.button {
  -fx-display: inline-block;
  -fx-text-alignment: center;
  -fx-text-decoration: none;
  -fx-outline: none;
  -fx-color: #fff;
  -fx-background-color: #4CAF50;
  -fx-border: none;
  -fx-box-shadow: #999;
}

.button:hover {-fx-background-color: #3e8e41}

.button:active {
  -fx-background-color: #3e8e41;
  -fx-box-shadow: 0 5px #666;
  -fx-transform: translateY(4px);
}
.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}