{% extends 'Front/Front.html.twig'%}

{% block content %}
    <!-- gallery_start -->
    <div class="gallery_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-75">
                        <h3>Photo Gallery</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_gallery big_img">
            <a class="popup-image" href="img/gallery/1.png"></a>
            <img src="img/gallery/1.png" alt="">
        </div>
        <div class="single_gallery small_img">
            <a class="popup-image" href="img/gallery/2.png"></a>
            <img src="img/gallery/2.png" alt="">
        </div>
        <div class="single_gallery small_img">
            <a class="popup-image" href="img/gallery/3.png"></a>
            <img src="img/gallery/3.png" alt="">
        </div>

        <div class="single_gallery small_img">
            <a class="popup-image" href="img/gallery/4.png"></a>
            <img src="img/gallery/4.png" alt="">
        </div>
        <div class="single_gallery small_img">
            <a class="popup-image" href="img/gallery/5.png"></a>
            <img src="img/gallery/5.png" alt="">
        </div>
        <div class="single_gallery big_img">
            <a class="popup-image" href="img/gallery/6.png"></a>
            <img src="img/gallery/6.png" alt="">
        </div>
    </div>

    <!-- gallery end -->
{% endblock %}